<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row"> 
      <!--col-lg-4 col-lg-offset-2 -->
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>I graduated from Ohio State University in 2023 with a B.S. in Mechanical Engineering and a minor in Computer Science. 
          Through various projects related to robotics during his undergrad, I gained knowledge and experience in path planning and controlling for a differential drive mobile robot. 
          I also designed a robotic arm and applied deep learning algorithms.
          I am a Masters in Robotics student at Northwestern University. My main interests are in SLAM, machine learning, and computer vision.</p>
      </div>
      <!-- <div class="col-lg-4">
        <p>In Northwestern University, he </p>
      </div> -->
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="img/Jihai_CV.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Resume
        </a>
      </div>
    </div>
  </div>
</section>